---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: users.harbor.harbor-operator.io
spec:
  group: harbor.harbor-operator.io
  names:
    kind: User
    listKind: UserList
    plural: users
    singular: user
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: User is the Schema for the users API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: UserSpec defines the desired state of User.
            properties:
              allowTakeover:
                description: |-
                  AllowTakeover indicates whether the operator is allowed to adopt an
                  existing object in Harbor with the same name/ID.
                type: boolean
              comment:
                description: Comment is an optional comment for the user.
                type: string
              driftDetectionInterval:
                description: |-
                  DriftDetectionInterval is the interval at which the operator will check
                  for drift. A value of 0 (or omitted) disables periodic drift detection.
                type: string
              email:
                description: Email address of the user.
                format: email
                type: string
              harborConnectionRef:
                description: HarborConnectionRef references the HarborConnection resource
                  to use.
                type: string
              passwordSecretRef:
                description: PasswordSecretRef references a secret key that contains
                  the password for the user.
                properties:
                  key:
                    description: The key of the secret to select from.  Must be a
                      valid secret key.
                    type: string
                  name:
                    default: ""
                    description: |-
                      Name of the referent.
                      This field is effectively required, but due to backwards compatibility is
                      allowed to be empty. Instances of this type with an empty value here are
                      almost certainly wrong.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                  optional:
                    description: Specify whether the Secret or its key must be defined
                    type: boolean
                required:
                - key
                type: object
                x-kubernetes-map-type: atomic
              realname:
                description: Realname is an optional full name.
                type: string
              reconcileNonce:
                description: ReconcileNonce forces an immediate reconcile when updated.
                type: string
              username:
                description: |-
                  Username is the Harbor username.
                  It is recommended to leave this field empty so that the operator defaults it
                  to the custom resource's metadata name.
                type: string
            required:
            - email
            - harborConnectionRef
            type: object
          status:
            description: UserStatus defines the observed state of User.
            properties:
              harborUserID:
                description: HarborUserID is the ID of the user in Harbor.
                type: integer
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
