---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: harborconnections.harbor.harbor-operator.io
spec:
  group: harbor.harbor-operator.io
  names:
    kind: HarborConnection
    listKind: HarborConnectionList
    plural: harborconnections
    shortNames:
    - hc
    singular: harborconnection
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: HarborConnection is the Schema for the harborconnections API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: HarborConnectionSpec defines the desired state of HarborConnection.
            properties:
              baseURL:
                description: BaseURL is the Harbor API endpoint.
                format: url
                type: string
              credentials:
                description: Credentials holds the default credentials for Harbor
                  API calls.
                properties:
                  passwordSecretRef:
                    description: PasswordSecretRef points to the Kubernetes Secret
                      that stores the password / token.
                    properties:
                      key:
                        description: The key of the secret to select from.  Must be
                          a valid secret key.
                        type: string
                      name:
                        default: ""
                        description: |-
                          Name of the referent.
                          This field is effectively required, but due to backwards compatibility is
                          allowed to be empty. Instances of this type with an empty value here are
                          almost certainly wrong.
                          More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                        type: string
                      optional:
                        description: Specify whether the Secret or its key must be
                          defined
                        type: boolean
                    required:
                    - key
                    type: object
                    x-kubernetes-map-type: atomic
                  type:
                    description: Type of the credential, e.g., "basic".
                    enum:
                    - basic
                    type: string
                  username:
                    description: Username for authentication.
                    minLength: 1
                    type: string
                required:
                - passwordSecretRef
                - type
                - username
                type: object
            required:
            - baseURL
            type: object
          status:
            description: HarborConnectionStatus defines the observed state of HarborConnection.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
